header{
 color: #8fa5b2;
 text-decoration:underline solid;
 font-size: x-large
}
body{
    width: 100%;
    height: auto;
}
h1 {
    text-align: center;
    text-decoration: underline;
    color: #326789;
    font-size: xx-large;
}
h2{
    text-align: center;
    text-decoration: underline;
    color:#326789;
    font-size: xx-large;
}
h3{
    text-align: center;
    text-decoration: underline;
    color: #326789;
    font-size: xx-large;
}
h4 {
    text-align: center;
    text-decoration: underline;
    color: #326789;
    font-size: xx-large;
    margin-block-end: 1%;
}
h5 {
    text-align: center;
    text-decoration: underline;
    color: #78a6c8;
    font-size: xx-large;
}
h6 {
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    color: #78a6c8;
    margin-block-end: 1%;
}
p {
    text-align: center;
    text-decoration: underline;
    margin-top: 0%;
}
img{
    border: 3px solid #e9eef4;
}
video{
    border: 3px solid #e65c4f;
}
footer{
    width: 100%;
    background: linear-gradient(#6cd0ff 5%,#9d00c6 55%);
    height: 100px; 
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-block-end: 0%;
}
.social-container{width:400px;margin:20vh auto;text-align:center}
.social-icons{padding:0;list-style:none;margin:1em}
.social-icons li{display:inline-block;margin:.15em;position:relative;font-size:1.2em}
.social-icons i{color:#fff;position:absolute;top:21px;left:21px;transition:all 265ms ease-out}
.social-icons a{display:inline-block}
.social-icons a:before{transform:scale(1);-ms-transform:scale(1);-webkit-transform:scale(1);content:" ";width:60px;height:60px;border-radius:100%;display:block;background:linear-gradient(45deg,#00B5F5,#002A8F);transition:all 265ms ease-out}
.social-icons a:hover:before{transform:scale(0);transition:all 265ms ease-in}
.social-icons a:hover i{transform:scale(2.2);-ms-transform:scale(2.2);-webkit-transform:scale(2.2);color:#00B5F5;background:-webkit-linear-gradient(45deg,#00B5F5,#002A8F);-webkit-background-clip:text;-webkit-text-fill-color:transparent;transition:all 265ms ease-in}
	
 mark{
    font-size: x-large;
    color: #c4d0c6;
    text-decoration: underline;
    text-align:left;
    background-color: #326789;
    border-radius: 3px;
 }   


